<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="TOptionPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<rows>2</rows>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Programmer options</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_PROG_CODE_MEM_CHK" variable="aProgCodeMemChk" member="yes">
							<label>Program CODE memory</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_PROG_DATA_MEM_CHK" variable="aProgDataMemChk" member="yes">
							<label>Program DATA memory</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_PROG_CONFIG_MEM_CHK" variable="aProgConfigMemChk" member="yes">
							<label>Program CONFIG memory</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_USE_BULK_ERASE_CHK" variable="aUseBulkEraseChk" member="yes">
							<label>Use BULK ERASE (to unprotect)</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_DISCONNECT_AFTER_PROG_CHK" variable="aDisconnectAfterProgChk" member="yes">
							<label>Automatic disconnect from target</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_VERIFY_DIFF_VDDS_CHK" variable="aVerifyDiffVddsChk" member="yes">
							<label>Verify at different supply voltages</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_DONT_CARE_FOR_OSCCAL_CHK" variable="aDontCareForOsccalChk" member="yes">
							<label>No special treatment for OSCAL</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_DONT_CARE_FOR_BG_CALIB_CHK" variable="aDontCareForBGCalibChk" member="yes">
							<label>No special treatment for BG calib</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Other options</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CLR_BEFORE_LOAD_CHK" variable="aClrBeforeLoadChk" member="yes">
							<label>Clear buffers before loading HEX file</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_VDD_BEFORE_MCLR_CHK" variable="aVddBeforeMCLRChk" member="yes">
							<label>Raise Vdd before Vpp (MCLR)</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer1" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Select language</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE1" variable="aLanguageChoice" member="yes">
									<handler function="onLanguageChoiceSelect" entry="EVT_CHOICE" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<object class="sizeritem">
								<object class="wxButton" name="ID_CODE_MEM_COLOUR_BUTTON" variable="aCodeMemColourButton" member="yes">
									<label>Code memory color</label>
									<handler function="onCodeMemColourButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_DATA_MEM_COLOUR_BUTTON" variable="aDataMemColourButton" member="yes">
									<label>Data memory color</label>
									<handler function="onDataMemColourButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>1</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="aMplabDirLabel" member="yes">
							<label>MPLAB DEV-file directory</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer3" member="no">
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_MPLAB_DEV_DIR_EDIT" variable="aMplabDevDirEdit" member="yes">
									<style>wxTE_PROCESS_ENTER</style>
									<handler function="onMplabDevDirEditTextEnter" entry="EVT_TEXT_ENTER" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_MPLAB_DEV_DIR_BUTTON" variable="aMPLabDevDirButton" member="yes">
									<label>...</label>
									<size>24,-1</size>
									<handler function="onMPLabDevDirButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
					<label>Debugging</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX11" variable="aSimulateOnlyChk" member="yes">
							<label>Simulate only (ignore hardware)</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX12" variable="aVerboseMsgsChk" member="yes">
							<label>Generate verbose messages</label>
							<handler function="onProgOptionChanged" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
					<label>Test</label>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<object class="sizeritem">
								<object class="wxButton" name="ID_START_TEST_BUTTON" variable="aStartTestButton" member="yes">
									<label>Start test</label>
									<handler function="onStartTestButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>1</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_TEST_CHOICE" variable="aTestChoice" member="yes">
									<content>
										<item>None</item>
										<item>Speed Test</item>
										<item>Switch on/Switch off</item>
										<item>Program/Read Config</item>
									</content>
									<selection>0</selection>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>1</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>1</border>
			</object>
		</object>
		<object class="wxColourDialog" variable="aColourDialog" member="yes" />
		<object class="wxDirDialog" variable="aDirDialog" member="yes">
			<message>Select directory</message>
			<style>wxDD_DEFAULT_STYLE|wxDD_DIR_MUST_EXIST</style>
		</object>
	</object>
</wxsmith>
