<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="TDataMemPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer6" member="no">
			<object class="sizeritem">
				<object class="wxGrid" name="ID_DATA_MEM_GRID" subclass="THexGrid" variable="aDataMemGrid" member="yes">
					<cols>8</cols>
					<minsize>0,0</minsize>
					<extra_code>for(int i=0;i&lt;8;++i)aDataMemGrid-&gt;SetColLabelValue(i,wxString::Format(__T(&quot;%d&quot;),i));</extra_code>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
