<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="TConfigMemoryPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer12" member="no">
			<object class="sizeritem">
				<object class="wxGrid" name="ID_CFG_MEM_GRID" variable="aCfgMemGrid" member="yes">
					<cols>3</cols>
					<size>-1,0</size>
					<minsize>0,0</minsize>
					<handler function="onCfgMemGridCellChange" entry="EVT_CMD_GRID_CELL_CHANGE" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>7</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL6" variable="Panel6" member="yes">
					<style>wxRAISED_BORDER|wxTAB_TRAVERSAL</style>
					<object class="wxBoxSizer" variable="BoxSizer13" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
								<label>ID and Config Memory</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxRadioBox" name="ID_ID_BIN_HEX_RADIO" variable="aIdBinHexRadio" member="yes">
								<label></label>
								<content>
									<item>Binary</item>
									<item>Hexadecimal</item>
								</content>
								<default>-1</default>
								<style>wxRA_HORIZONTAL</style>
								<handler function="onIdBinHexRadioSelect" entry="EVT_RADIOBOX" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						</object>
						<object class="sizeritem">
							<object class="wxCheckBox" name="ID_SHOW_ALL_CFG_CELLS_CHK" variable="aShowAllCfgCellsChk" member="yes">
								<label>Show ALL locations</label>
								<handler function="onShowAllCfgCellsChkClick" entry="EVT_CHECKBOX" />
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
								<label>(* = reserved)</label>
							</object>
							<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
							<border>1</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<size>0,5</size>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_DEV_ID_TITLE" variable="aDevIdTitle" member="yes">
								<label>Device ID WORD:</label>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_DEV_ID" variable="aDevId" member="yes">
								<label>11 1111 1111 1111</label>
								<style>wxST_NO_AUTORESIZE</style>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_DEV_ID_DECODED" variable="aDevIdDecoded" member="yes">
								<label>= &lt;unknown ID&gt;</label>
								<style>wxST_NO_AUTORESIZE</style>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<size>0,15</size>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON6" variable="aHelpOnIdButton" member="yes">
								<label>Help</label>
								<handler function="onHelpOnIdButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>3</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
			</object>
		</object>
	</object>
</wxsmith>
