///////////////////////////////////////////////////////////////////////////////
// Name:        Resource.h
// Purpose:     Load the application resources and made them available
//              through getters
// Author:      Philippe Chevrier
// Modified by:
// Created:     2009.06.01
// Copyright:   (c) 2009 Philippe Chevrier <pch@laposte.net>
// License:     GNU Lesser General Public License (LGPLv3)
///////////////////////////////////////////////////////////////////////////////

name ICON "src/Res/aWxPic.ico"
//-- Without version autogeneration procedure replace manifest.autogen by manually edited Res\\model.manifest
1 24 "manifest.autogen"
