<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MainFrame">
		<title>WxPic Programmer</title>
		<parent_arg>0</parent_arg>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="MainBoxSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK" variable="aNotebook" member="yes">
					<pos>216,312</pos>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_CODE_MEM_PANEL" subclass="TCodeMemPanel" variable="aCodeMemTab" member="yes">
							<style>0</style>
						</object>
						<label>Code</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_DATA_MEM_PANEL" subclass="TDataMemPanel" variable="aDataMemTab" member="yes" />
						<label>Data</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL4" subclass="TDeviceCfgPanel" variable="aDeviceCfgTab" member="yes" />
						<label>Device, Config</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL5" subclass="TConfigMemoryPanel" variable="aConfigMemoryTab" member="yes" />
						<label>Config Memory</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" subclass="TOptionPanel" variable="aOptionTab" member="yes" />
						<label>Options</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL7" subclass="TInterfacePanel" variable="aInterfaceTab" member="yes" />
						<label>Interface</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL8" subclass="TMessagePanel" variable="aMessageTab" member="yes" />
						<label>Messages</label>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>7</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGauge" name="ID_PROGRESS_GAUGE" variable="aProgressGauge" member="yes">
					<size>-1,8</size>
					<hidden>1</hidden>
					<style>wxGA_SMOOTH</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar" member="yes">
			<object class="wxMenu" variable="aFileMenu" member="yes">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_LOAD_MENU_ITEM" variable="aLoadMenuItem" member="yes">
					<label>&amp;Load HEX file...</label>
					<accel>CTRL-L</accel>
					<handler function="OnLoadMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_LOAD_N_PRG_MENU_ITEM" variable="aLoadNProgMenuItem" member="yes">
					<label>Load &amp;&amp; &amp;Program Device...</label>
					<handler function="OnLoadNProgMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_RLOAD_N_PRG_MENU_ITEM" variable="aReloadNProgMenuItem" member="yes">
					<label>&amp;Reload &amp;&amp; Program</label>
					<handler function="OnReloadNProgMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenu" name="ID_RECENT_FILES_SUB_MENU" variable="aRecentFileSubMenu" member="yes">
					<label>Recent &amp;Files</label>
					<object class="wxMenuItem" name="ID_RECENT_FILE1_MENU_ITEM" variable="aRecentFile1MenuItem" member="yes">
						<label>** None **</label>
						<enabled>0</enabled>
						<handler function="OnRecentFile1MenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_RECENT_FILE2_MENU_ITEM" variable="aRecentFile2MenuItem" member="yes">
						<label>** None **</label>
						<enabled>0</enabled>
						<handler function="OnRecentFile2MenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_RECENT_FILE3_MENU_ITEM" variable="aRecentFile3MenuItem" member="yes">
						<label>** None **</label>
						<enabled>0</enabled>
						<handler function="OnRecentFile3MenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_RECENT_FILE4_MENU_ITEM" variable="aRecentFile4MenuItem" member="yes">
						<label>** None **</label>
						<enabled>0</enabled>
						<handler function="OnRecentFile4MenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_RECENT_FILE5_MENU_ITEM" variable="aRecentFile5MenuItem" member="yes">
						<label>** None **</label>
						<enabled>0</enabled>
						<handler function="OnRecentFile5MenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_RECENT_FILE6_MENU_ITEM" variable="aRecentFile6MenuItem" member="yes">
						<label>** None **</label>
						<enabled>0</enabled>
						<handler function="OnRecentFile6MenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="separator" />
					<object class="wxMenuItem" name="ID_CLEAR_RECENT_MENU_ITEM" variable="aClearRecentMenuItem" member="yes">
						<label>Clear recent file history</label>
						<handler function="OnClearRecentMenuItemSelected" entry="EVT_MENU" />
					</object>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_DUMP_TO_HEX_MENU_ITEM" variable="aDumpBufferMenuItem" member="yes">
					<label>&amp;Dump buffer to HEX file...</label>
					<handler function="onDumpBufferMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_EXIT_NO_SAVE_MENU_ITEM" variable="aExitNoSaveMenuItem" member="yes">
					<label>Exit without saving the settings</label>
					<handler function="OnExitNoSaveMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_EXIT_MENU_ITEM" variable="aExitMenuItem" member="yes">
					<label>E&amp;xit</label>
					<handler function="OnExitMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="aEditMenu" member="yes">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="ID_CLEAR_BUFFER_MENU_ITEM" variable="aClearBufferMenuItem" member="yes">
					<label>Clear &amp;Buffer</label>
					<handler function="onClearBufferMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_CLEAR_FUSE_MENU_ITEM" variable="aClearFuseMenuItem" member="yes">
					<label>Clear &amp;Fuses</label>
					<handler function="onClearFuseMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_ENAB_HEX_EDIT_MENU_ITEM" variable="aEnabHexEditMenuItem" member="yes">
					<label>&amp;Enable HEX editor</label>
					<handler function="onEnabHexEditMenuItemSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="ID_APPLY_EDIT_MENU_ITEM" variable="aApplyEditMenuItem" member="yes">
					<label>&amp;Apply edits</label>
					<handler function="onApplyEditMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_DISCARD_EDIT_MENU_ITEM" variable="aDiscardEditMenuItem" member="yes">
					<label>&amp;Discard edits</label>
					<handler function="onDiscardEditMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="aDeviceMenu" member="yes">
				<label>&amp;Device</label>
				<object class="wxMenuItem" name="ID_SELECT_DEV_MENU_ITEM" variable="aSelectDevMenuItem" member="yes">
					<label>&amp;Select</label>
					<handler function="onSelectDevMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_PROGRAM_MENU_ITEM" variable="aProgramMenuItem" member="yes">
					<label>&amp;Program</label>
					<accel>CTRL-P</accel>
					<handler function="onProgramMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_PROGRAM_CFG_MENU_ITEM" variable="aProgramCfgMenuItem" member="yes">
					<label>Program &amp;Config word only</label>
					<handler function="onProgramCfgMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_PROGRAM_ID_MENU_ITEM" variable="aProgramIdMenuItem" member="yes">
					<label>Program &amp;ID only</label>
					<handler function="onProgramIdMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_ERASE_MENU_ITEM" variable="aEraseMenuItem" member="yes">
					<label>&amp;Erase</label>
					<accel>CTRL-E</accel>
					<handler function="onEraseMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_VERIFY_MENU_ITEM" variable="aVerifyMenuItem" member="yes">
					<label>&amp;Verify</label>
					<accel>CTRL-V</accel>
					<handler function="onVerifyMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_BLANK_CHECK_MENU_ITEM" variable="aBlankCheckMenuItem" member="yes">
					<label>&amp;Blank Check</label>
					<accel>CTRL-B</accel>
					<handler function="onBlankCheckMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_READ_MENU_ITEM" variable="aReadMenuItem" member="yes">
					<label>&amp;Read</label>
					<accel>CTRL-R</accel>
					<handler function="onReadMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_RESET_MENU_ITEM" variable="aResetMenuItem" member="yes">
					<label>Reset and &amp;Go</label>
					<accel>F9</accel>
					<handler function="onResetMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="aToolMenu" member="yes">
				<label>&amp;Tools</label>
				<object class="wxMenuItem" name="ID_BATCH_PRG_MENU_ITEM" variable="aBatchPrgMenuItem" member="yes">
					<label>&amp;Start Batch Programming</label>
					<handler function="onBatchPrgMenuItemSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenu" name="ID_SPECIAL_SUB_MENU" variable="aSpecialMenuItem" member="yes">
					<label>S&amp;pecial</label>
					<object class="wxMenuItem" name="ID_DEV_DUMP_MENU_ITEM" variable="aDevDumpMenuItem" member="yes">
						<label>Dump &amp;Built-in device list to file...</label>
						<handler function="onDevDumpMenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_DUMP_TRANS_MENU_ITEM" variable="aDumpTransMenuItem" member="yes">
						<label>Dump &amp;Translation table to file...</label>
					</object>
					<object class="separator" />
					<object class="wxMenuItem" name="ID_DSPIC_READ_MENU_ITEM" variable="aDsPicReadMenuItem" member="yes">
						<label>&amp;Read dsPIC executive code memory</label>
						<handler function="onDsPicReadMenuItemSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_DSPIC_PROG_MENU_ITEM" variable="aDsPicProgMenuItem" member="yes">
						<label>&amp;Program dsPIC executive code memory</label>
						<handler function="onDsPicProgMenuItemSelected" entry="EVT_MENU" />
					</object>
				</object>
				<object class="wxMenuItem" name="ID_SHOW_PRG_OPT_MENU_ITEM" variable="ShowPrgOptMenuItem" member="no">
					<label>Show Programmer &amp;Options</label>
					<handler function="onShowPrgOptMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="aHelpMenu" member="yes">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="ID_HELP_INDEX_MENU_ITEM" variable="aHelpIndexMenuItem" member="yes">
					<label>&amp;Index</label>
					<accel>CTRL-H</accel>
					<handler function="onHelpIndexMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_FAQ_MENU_ITEM" variable="aFaqMenuItem" member="yes">
					<label>&amp;Frequently Ask Questions</label>
					<handler function="onFaqMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_ABOUT_MENU_ITEM" variable="aAboutMenuItem" member="yes">
					<label>&amp;About...</label>
					<handler function="onAboutMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR" variable="aStatusBar" member="yes">
			<fields>1</fields>
			<widths>-10</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxFileDialog" variable="aFileDialog" member="yes">
			<message>Select file</message>
		</object>
		<object class="wxTimer" name="ID_TIMER" variable="aTimer" member="yes">
			<interval>50</interval>
			<handler function="onTimerTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
