<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="TDeviceCfgPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer7" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer8" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer9" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer11" member="no">
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
											<label>Part</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxChoice" name="ID_PART_NAME_CHOICE" variable="aPartNameChoice" member="yes">
											<handler function="onPartNameChoiceSelect" entry="EVT_CHOICE" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
									<cols>3</cols>
									<rows>2</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
											<label>Config word #1:</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="aConfigWordHexEdit" member="yes">
											<value>3FFF</value>
											<size>60,20</size>
											<font>
												<size>16</size>
												<style>normal</style>
												<weight>bold</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Courier New</face>
											</font>
											<style>wxNO_BORDER</style>
											<handler function="onConfigWordHexEditText" entry="EVT_TEXT" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
											<label>(hex)</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
											<label>Config word #2:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="aConfigWordHexEdit2" member="yes">
											<value>3FFF</value>
											<size>60,20</size>
											<font>
												<size>16</size>
												<style>normal</style>
												<weight>bold</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Courier New</face>
											</font>
											<style>wxNO_BORDER</style>
											<handler function="onConfigWordHexEdit2Text" entry="EVT_TEXT" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
											<label>(hex)</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer10" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
									<label>Device Properties</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
											<cols>2</cols>
											<rows>2</rows>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="aProgMemSizeText" member="yes">
													<value>00000</value>
													<maxlength>5</maxlength>
													<size>45,-1</size>
													<handler function="onProgMemSizeTextText" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>1</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
													<label>word code memory</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>1</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="aEepromMemSizeText" member="yes">
													<value>00000</value>
													<maxlength>5</maxlength>
													<size>45,-1</size>
													<handler function="onEepromMemSizeTextText" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>1</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
													<label>byte data EEPROM</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>1</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX13" variable="aHasFlashMemoryChk" member="yes">
											<label>FLASH</label>
											<handler function="onHasFlashMemoryChkClick" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
									</object>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>1</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer25" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT21" variable="aSavedBeforeEraseTitle" member="yes">
							<label>Saved before erase:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_SAVED_BEFORE_ERASE_TEXT" variable="aSavedBeforeEraseText" member="yes">
							<label>-</label>
							<style>wxST_NO_AUTORESIZE</style>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>1</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>1</border>
			</object>
			<object class="sizeritem">
				<object class="wxGrid" name="ID_DEV_CFG_GRID" variable="aDevCfgGrid" member="yes">
					<cols>3</cols>
					<rows>1</rows>
					<minsize>0,0</minsize>
					<handler function="onDevCfgGridCellChange" entry="EVT_CMD_GRID_CELL_CHANGE" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
